.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(162, 162, 162, 0.41);
}
.feature-card2-feature-card:hover {
  transform: scale(1.02);
}
.feature-card2-text {
  color: var(--dl-color-gray-white);
  margin-bottom: var(--dl-space-space-twounits);
}
.feature-card2-image {
  width: 120px;
  height: 119px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
